<ion-view title="Notifications">
  <ion-content>
    <form ng-submit="vm.sendPush(vm.push)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" placeholder="New notification is here" ng-model="vm.push.title">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Message</span>
          <input type="text" placeholder="Your should look at this..." ng-model="vm.push.message">
        </label>
        <div class="padding">
          <button type="submit" class="button button-block button-calm">Send (android only !)</button>
        </div>
      </div>
    </form>
    <div class="list" ng-show="vm.notifications.length > 0">
      <div class="item item-divider">Received notifications</div>
      <div class="item" ng-repeat="notif in vm.notifications">
        <small class="pull-right">{{notif.time | datetime}}</small>
        <h2>{{notif.payload.title}}</h2>
        <p>{{notif.payload.message}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
