@mixin arrow-left {
  position: absolute;
  top: 50%;
  left: 11px;
  display: block;
  margin-top: -8px;
  font-family: 'Ionicons';
  font-size: 16px;
  line-height: 1;
  content: "\f124";
  color: #ccc;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  speak: none;
}
@mixin arrow-right {
  position: absolute;
  top: 50%;
  right: 11px;
  display: block;
  margin-top: -8px;
  font-family: 'Ionicons';
  font-size: 16px;
  line-height: 1;
  content: "\f125";
  color: #ccc;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  speak: none;
}
