.swipeablecards {
  background-color: #333;
  
  .swipe-cards {
    position: fixed;
  }

  .swipe-card {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
    &.pop-in-start {
      -webkit-transform: scale(0,0);
    }
    &.pop-in {
      -webkit-animation: bounceIn 0.3s ease-out;
    }
    .title {
      height: 40px;
      padding: 5px;
      line-height: 30px;
      color: #444;
    }
    .image {
      overflow: hidden;
      max-height: 210px;
      img {
        width: 100%;
        border-radius: 0px 0px 4px 4px;
      }
    }
    .button {
      border: none;
    }
  }

  #start-card {
    color: #fff;
    background-color: #30BD8A;
    line-height: 300px;
    word-wrap: break-word;
    border: 6px solid #4CD68E;
    text-align: center;
    span {
      display: inline-block;
      line-height: 40px;
      width: 200px;
      font-size: 30px;
      vertical-align: middle;
    }
  }

  @-webkit-keyframes bounceIn {
    0% {
      -webkit-transform: scale(0,0);
    }
    70% {
      -webkit-transform: scale(1.2,1.2);
    }
    100% {
      -webkit-transform: scale(1,1);
    }
  }
}