# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Editor files
/.idea/
/.brackets.json

# Cordova folders
node_modules/
platforms/
plugins/

# when use sass, do not commit css files
/www/css/
/www/lib/

# do not commit generated images
/resources/android/
/resources/ios/

*~
