<ion-view>
  <ion-header-bar class="bar-calm">
    <div class="title">Login</div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="vm.login(vm.credentials)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Login</span>
          <input type="text" placeholder="ex: Admin" ng-model="vm.credentials.login">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="ex: admin" ng-model="vm.credentials.password">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-calm" ng-disabled="!vm.credentials.login || !vm.credentials.password || vm.loading === true">Login</button>
        <div class="card padding" ng-if="vm.error !== null">Error: {{vm.error}}</div>
      </div>
    </form>
  </ion-content>
</ion-view>
