<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Side menu</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <a class="item item-icon-left" ui-sref="app.tabs.twitts" nav-clear menu-close>
          <i class="icon ion-social-twitter-outline"></i> Twitts
        </a>
        <span class="item item-icon-left" ng-click="vm.logout()" menu-close>
          <i class="icon ion-log-out"></i> Logout
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
