<ion-tabs class="tabs-striped tabs-top tabs-color-calm">
  <ion-tab title="Timeline" icon-on="ion-social-twitter" icon-off="ion-social-twitter-outline" ui-sref="app.tabs.twitts">
    <ion-nav-view name="twitts-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Chat" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" ui-sref="app.tabs.chat">
    <ion-nav-view name="chat-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifications" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" ui-sref="app.tabs.notifs"
           badge="vm.notifCount" badge-style="badge-assertive">
    <ion-nav-view name="notifs-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
