<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Publish a twitt</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Your Name</span>
        <input type="text" placeholder="Your Name" ng-model="form.user">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Twitt</span>
        <textarea placeholder="Twitt" ng-model="form.content"></textarea>
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block" ng-click="vm.cancelSendTwitt()">Cancel</button>
      </div>
      <div class="col">
        <button class="button button-block button-calm" ng-click="vm.sendTwitt(form)" ng-disabled="!form.user || !form.content || form.saving">
          <i class="icon ion-paper-airplane" ng-show="!form.saving"></i>
          <i class="icon ion-load-a fa-spin" ng-show="form.saving"></i>
          Send
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>