<ion-view>
  <ion-header-bar class="bar-calm">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon" ng-hide="$exposeAside.active"></button>
    </div>
    <h1 class="title">Timeline</h1>
    <div class="buttons">
      <button class="button button-icon ion-close-circled" ng-click="vm.listHideAll()" ng-show="vm.isListShowDelete || vm.isListShowReorder"></button>
      <button class="button button-icon ion-more" ng-click="vm.showOptions($event)"></button>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.refresh()"></ion-refresher>
    <ion-list show-delete="vm.isListShowDelete" show-reorder="vm.isListShowReorder">
      <ion-item class="item-avatar" ng-repeat="twitt in vm.twitts" item="twitt" ui-sref="app.tabs.twitt({twittId: twitt.id})" on-hold="vm.moreOptions(twitt)">
        <img ng-src="{{twitt.avatar}}">
        <h2>{{twitt.user}}</h2>
        <p>{{twitt.content}}</p>
        <ion-delete-button class="ion-minus-circled" ng-click="vm.listDelete(vm.twitts, twitt)"></ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="vm.edit(twitt)">Edit</ion-option-button>
        <ion-option-button class="button-calm" ng-click="vm.share(twitt)">Share</ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="vm.listReorder(vm.twitts, twitt, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
    <ion-spinner class="hcenter voffset" ng-show="!vm.twitts"></ion-spinner>
  </ion-content>

  <ion-footer-bar class="item-input-inset" ng-click="vm.writeTwitt()">
    <label class="item-input-wrapper">
      <i class="icon ion-chatbubbles placeholder-icon"></i>
      <input type="text" placeholder="Say something">
    </label>
    <button class="button button-clear">Twitt</button>
  </ion-footer-bar>
</ion-view>