<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
      <h1 class="title">Chat</h1>
    </div>
  </ion-header-bar>

  <ion-content class="padding chat">
    <!-- sample here : http://codepen.io/ionic/pen/rxysG -->
    <ol class="messages">
      <li ng-repeat="message in messages" ng-bind-html="message.content"></li>
    </ol>
  </ion-content>

  <ion-footer-bar class="bar-frosted">
    <button class="button button-clear button-positive" ng-click="add()">Add Message</button>
  </ion-footer-bar>
</ion-view>