<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
      <h1 class="title">Slide Box</h1>
      <button class="button" ng-click="nextSlide()">Next slide</button>
    </div>
  </ion-header-bar>

  <ion-content class="slidebox">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
      <ion-slide>
        <div class="box blue"><h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>