<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
      <h1 class="title">Swipeable cards</h1>
    </div>
  </ion-header-bar>

  <ion-content class="swipeablecards" no-scroll>
    <!-- sample here : http://codepen.io/ionic/pen/skbxh -->
    <swipe-cards>
      <swipe-card on-swipe="cardSwiped()" id="start-card">
        Swipe down for a new card
      </swipe-card>
      <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
        <div ng-controller="SwipeablecardCtrl">
          <div class="title">
            {{card.title}}
          </div>
          <div class="image">
            <img ng-src="{{card.image}}">
          </div>
          <div class="button-bar">
            <button class="button button-clear button-positive" ng-click="goAway()">Answer</button>
            <button class="button button-clear button-positive" ng-click="goAway()">Decline</button>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>
  </ion-content>
</ion-view>