<ion-view title="Paramètres">
  <ion-content>
    <div class="list">
      <div class="item item-toggle"> Paramètre 1
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="data.settings.setting1">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle"> Paramètre 2
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="data.settings.setting2">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
